<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BugsnagAPIKey</key>
    <string>BUGSNAG_API_KEY</string>
    <key>Fabric</key>
    <dict>
      <key>ApiKey</key>
      <string>FABRIC_API_KEY</string>
      <key>ApiSecret</key>
      <string>FABRIC_API_SECRET</string>
      <key>Organization</key>
      <string>FABRIC_ORGANIZATION</string>
    </dict>
  </dict>
</plist>
